body {
    font-family: Arial, sans-serif;
}

.search-container {
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
}

button:hover{
    background-color: #2b962f;
}

.results-container {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ccc;
}

.book {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#err{
    color: #4CAF50;
    text-align: center;
}
